.buttonContainer {
        margin-top: -20px;
        width: 380px;
        height: 450px;
        display: flex;
        border-radius: 20px 20px 0px 0px;
        background: #2D033B;
        border: 2px solid rgb(31, 13, 13);
        justify-content: center;
        align-items: center;
}